* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ROOT */
:root {
    --primary-color: #ddd;
    --secondary-color: #fff;
}

/* BODY  */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Chiếm đủ chiều cao màn hình */
    background: var(--primary-color);
}

/* CONTAINER */
.container {
    display: flex;
    width: 800px;
    background: var(--secondary-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.signin,
.signup {
    flex: 1;
    /* mỗi bên chiếm 50% */
    padding: 40px;
}

/* SIGNIN */
.signin {
    font-size: 18px;
    text-align: center;
    background: var(--secondary-color);
}

h1 {
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-box i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    /* Dịch lên 50% cho đúng giữa */
    color: #999;
}

/*  REMEMBER ME + FORGOT PASSWORD */
.remember-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}


.remember-forget a {
    text-decoration: none;
    color: #00b894;
}

/* BUTTON */
.btn {
    width: 100%;
    padding: 12px;
    background: #00b894;
    border: none;
    color: var(--primary-color);
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0;
}

/* REGISTER LINK */
.register-link {
    text-align: center;
    margin-bottom: 10px;
}

/* SOCIAL-LOGIN */
.social-login {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-btn img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform .3s ease;
}

.social-btn img:hover {
    transform: scale(1.1);
    /* phóng to nhẹ */
}

/* SIGNUP */
.signup {
    background: linear-gradient(135deg, #00b894, #00cec9);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signup h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.signup p {
    margin-bottom: 20px;
    width: 350px;
    text-align: center;
    line-height: 1.5;
    /* giãn dòng dễ đọc */
}

.signup .signup-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.15);
    color: var(--primary-color);
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.signup .signup-btn:hover {
    background: var(--primary-color);
    color: #00b894;
}